<div class="new-password-modal">

  <form>

    <div class="text-center">
      <div class="modal-title">{{'titleresetpass' | translate}}</div>
    </div>

    <div class="input-group">
      <input #password
             type="password"
             class="white"
             [placeholder]="'poppass' | translate: 'password'"
             [disabled]="passwordSent"
             (input)="onInput()"/>
    </div>

    <div class="text-center">
      <button class="pricebut btn-password-recover"
              [disabled]="loading"
              (click)="sendNewPassword(password.value)">
        {{'btnresetpass' | translate: 'Reset password'}}
      </button>
    </div>

    <div class="alert-error" *ngIf="error">
      {{error}}
    </div>
    <div class="alert-success" *ngIf="passwordSent">
      {{'passchangeok' | translate: 'Password has been successfully changed'}}
    </div>
  </form>

</div>
