<div class="page-auth-login block-center">
  <div class="text-center" *ngIf="principalService.isAuthenticated">
    <h3>{{'logged_already' | translate: 'You are already logged in'}}</h3>

    <button class="pricebut" (click)="logout()">
      {{'popsignout' | translate: 'Sign out'}}
    </button>
  </div>

  <ng-container *ngIf="!principalService.isAuthenticated">
    <div class="auth-title" *ngIf="title">
      {{title}}
    </div>
    <div class="auth-sub-title" *ngIf="subTitle">
      {{subTitle}}
    </div>

    <div class="form-divider"></div>

    <div class="register__tabs">
      <button class="register__tabs__btn register__tabs__btn--left"
              [class.active]="activeForm === AuthActiveForm.Register"
              (click)="activeForm = AuthActiveForm.Register; tabSwitched(activeForm)">
        {{'popsignup' | translate: 'Register'}}
      </button>
      <button class="register__tabs__btn register__tabs__btn--right"
              [class.active]="activeForm === AuthActiveForm.Login"
              (click)="activeForm = AuthActiveForm.Login; tabSwitched(activeForm)">
        {{'popsignin' | translate: 'Log in'}}
      </button>
    </div>

    <form-login *ngIf="activeForm === AuthActiveForm.Login"
                [buttonResetRequestDisabled]="buttonResetRequestDisabled"
                [showRegLink]="true"
                [(error)]="error"
                [success]="success"
                [formHint]="''"
                (loginClick)="login($event.email, $event.password)"
                (facebookLoginClick)="loginWithFacebook()"
                (passwordRecoveryClick)="sendRecoveryRequest($event.email)"
                (formSwitched)="tabSwitched($event.activeForm)">
    </form-login>

    <form-registration *ngIf="activeForm === AuthActiveForm.Register"
                       [buttonDisabled]="loading"
                       [(error)]="error"
                       [success]="success"
                       [formHint]="''"
                       (registerClick)="register($event.email, $event.password)"
                       (facebookLoginClick)="loginWithFacebook()"
                       (googleLoginClick)="loginWithGoogle()">
    </form-registration>
  </ng-container>
</div>
