<div (mousemove)="onMouseMove()" (touchend)="onTouchEnd()" class="video-overlay">

  <div class="pause-layer" (click)="onPauseLayerClick()"></div>

  <div class="top-line" [@overlayTopState]="overlayState">

  </div>

  <button class="btn-play" *ngIf="isPaused" (click)="play()">
    <i class="fa fa-play-circle" aria-hidden="true"></i>
  </button>

  <ng-container *ngIf="isOverlayVisible">
    <button class="btn-pause" *ngIf="!isPaused" (click)="togglePause()">
      <i class="fa fa-pause" aria-hidden="true"></i>
    </button>
  </ng-container>

  <div class="bottom-line" [@overlayBottomState]="overlayState">

    <button class="btn-link btn-toggle-fullscreen"
            title="Toggle fullscreen"
            (click)="toggleFullScreen()">
      <i class="fa fa-2x fa-arrows-alt" aria-hidden="true"></i>
    </button>
  </div>
</div>
